
@import "compass/reset";
@import "variables/breakpoints";
@import "variables/colors";
@import "variables/typography";

body {
    background-color: $black;
}

.Container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
}

.Sidebar {
    display: none;
    width: 240px;
    background-color: $section-background;
    @media only screen and (min-width: $breakpoint-md) {
        display: flex;
    }
}

.Main {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;
    padding: 0 10px;
    min-height: 600px;
}

.EventsList {
    margin-bottom: 8px;

    &__Placeholder {
        background-color: $section-background;
        min-height: 400px;
        margin-bottom: 0;
    }
}

.EventItem {
    width: 100%;
    background-color: $section-background;
    display: flex;
    position: relative;
    margin-bottom: 2px;
    
    &__Details {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 30%;
        padding: 6px 5px;

        .Details {

            &__InfoTeams {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 5px;
            }
    
            &__Teams {
                display: flex;
                flex-direction: column;
                margin-right: 4px;
                min-width: 0;
            }
    
            &__Team {
                font-family: $font-primary;
                font-weight: $font-weight-normal;
                color: $event-teams;
                font-size: 14px;
                line-height: 1.5;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
    
            &__Scoreboard {
                display: flex;
                flex-direction: column;
            }
    
            &__Score {
                font-family: $font-primary;
                font-weight: $font-weight-normal;
                color: $event-score;
                font-size: 14px;
                line-height: 1.5;
            }
    
            &__InfoStats {
                display: flex;
                flex-direction: row;
                min-width: 0;
            }
    
            &__Stats {
                font-family: $font-secondary;
                font-weight: $font-weight-normal;
                color: $event-info;
                font-size: 10px;
                line-height: 1;
                &:after {
                    content: '\00a0/\00a0';
                    display: inline;
                }
                &:last-of-type {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    &:after {
                        content: '';
                    }
                }
            }
        }
    }

    &__Odds {
        width: 70%;
        padding: 5px 4px 5px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .Odds {

            &__Buttons {
                flex-direction: row;
                flex: 1;
                margin-left: 8px;
                display: none;
                &:first-of-type {
                    margin-left: 0;
                    display: flex;
                }
                &:nth-child(2) {
                    @media only screen and (min-width: $breakpoint-md) {
                        display: flex;
                    }
                }
                @media only screen and (min-width: $breakpoint-lg) {
                    display: flex;
                }

                .OddButton {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $odd-background;
                    color: $odd-text;
                    border: none;
                    cursor: pointer;
                    margin: 0 2px;
                    padding: 0;
                    min-width: 45px;
                    flex: 1;
                    position: relative;
                    transition: all 0.25s ease-in-out;
                    @media only screen and (min-width: $breakpoint-lg) {
                        min-width: 55px;
                    }
                    &:hover {
                        background-color: $odd-hover-background;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: rgba(0,0,0,.1);
                    }
        
                        &__Modifier {
                            font-family: $font-secondary;
                            font-weight: $font-weight-normal;
                            color: $odd-text;
                            font-size: 10px;
                            line-height: 1;
                            opacity: 0.6;
                        }
    
                        &__Odd {
                            font-family: $font-primary;
                            font-weight: $font-weight-normal;
                            color: $odd-text;
                            font-size: 12px;
                            line-height: 1;
                        }
                        
                        &__Indicator {
                            position: absolute;
                            z-index: 0;
                            right: 2px;
                            top: 2px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 8px 8px 0;
                            border-color: transparent transparent transparent transparent;
                            
                            &--Up {
                                border-color: transparent $odd-up transparent transparent;
                                z-index: 1;
                            }
                            &--Down {
                                border-width: 0 0 8px 8px;
                                border-color: transparent transparent $odd-down transparent;
                                z-index: 1;
                                top: auto;
                                bottom: 2px;
                            }
                        }
    
                    &--Inactive {
                        background-color: transparent;
                        flex: 0;
                        min-width: 30px;
                        font-family: $font-secondary;
                        font-weight: $font-weight-normal;
                        color: $event-info;
                        font-size: 10px;
                        line-height: 1;
                        &:hover {
                            background-color: transparent;
                        }
                        &:after {
                            display: none;
                        }
                    }

                    &--Selected {
                        background-color: $odd-background-selected;
                        &:hover {
                            background-color: $odd-background-selected;
                        }

                        .OddButton__Indicator {

                            &--Up {
                                border-color: transparent $odd-default transparent transparent;
                            }
                            &--Down {
                                border-color: transparent transparent $odd-default transparent;
                            }
                        }

                        .OddButton {
                            &__Modifier,
                            &__Odd { 
                                color: $black;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    &__Favorite {
        min-width: 30px;
        background-color: $favorite-background;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__Icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
            svg {
                fill: $favorite-icon;
            }
            &--Selected {
                svg {
                    fill: $favorite-icon-selected;
                }
            }
        }
    }
}


