$black: #000000;
$section-background: #263D57;
$event-teams: #95B9DF;
$event-info: #68829C;
$event-score: #00D323;
$odd-background: #345880;
$odd-hover-background: #335275;
$odd-text: #95B9DF;
$odd-text-selected: #202B3C;
$odd-background-selected: #E7B900;
$favorite-background: #2B4663;
$favorite-icon: #596F86;
$favorite-icon-selected: #E7B900;
$odd-up: #00D323;
$odd-down: #FF5E5E;
$odd-default: #202B3C;
$odd-single: #7794B2;